---
import type { ClassyComponentProps } from '@/types/astro.types'
interface Props extends ClassyComponentProps {
  playbackRate?: number
}

const { playbackRate = 1, class: cssClass = 'absolute', 'class:list': cssClassList } = Astro.props

const videoElementId = 'bg-glitch-video'
---

<div class:list={[cssClass, cssClassList]}>
  <video id={videoElementId} autoplay loop muted class="absolute h-full min-w-full object-cover">
    <source src="/glitch-background.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <!-- Video overlay -->
  <!-- Purple color overlay -->
  <div class="absolute h-full w-full bg-secondary-700/70 mix-blend-color"></div>
  <!-- Overlay -->
  <div class="absolute h-full w-full bg-black/65"></div>

  <!-- Content -->
  <slot />
</div>

<script define:vars={{ videoElementId, playbackRate }}>
  // Reduce the video speed
  const video = document.getElementById(videoElementId)

  if (video) {
    video.defaultPlaybackRate = playbackRate
    video.playbackRate = playbackRate
  }
</script>
