---
import LoboImage from '@assets/images/lobo_personaje_der.png'
import BgGlitch from '@components/landing/BgGlitch.astro'
import { Image, getImage } from 'astro:assets'

const loboImageOptimized = await getImage({ src: LoboImage })
---

<div class="relative">
  <BgGlitch
    playbackRate={0.45}
    class:list={[
      // Default
      'absolute',
      'inset-0',
      'h-50vh',
      'w-full',
      'max-w-full',
      'w-auto',
      'overflow-hidden',
      'z-0',
      // md
      'md:(h-100vh)',
    ]}
  />
  {/* TODO: portrait and landscape responsive design */}

  <!-- Landing cover -->
  <div
    class="relative h-50vh w-full items-center overflow-x-hidden"
    md="flex h-screen justify-center -mt-20"
    lg="flex justify-right"
  >
    <div
      class="absolute mx-auto h-full w-full flex justify-center overflow-visible"
      lg="h-screen relative flex-[0_1_40%] -left-5%"
    >
      <div class="relative mx-auto h-full overflow-visible">
        <Image
          src={LoboImage}
          alt="Personaje Lobo Hackathon BUAP"
          loading="eager"
          class:list={[
            'relative w-auto h-full mx-auto opacity-65 mix-blend-difference',
            'object-contain',
            'lg:(object-cover overflow-visible)',
          ]}
        />
        <div class:list={['img-glitch1-container h-inherit overflow-hidden mx-auto']}>
          {
            Array.from({ length: 3 }).map(() => (
              <div
                class="bg-contain object-contain lg:(bg-cover object-cover) img-glitch1-layer"
                style={`background-image: url("${loboImageOptimized.src}");`}
              />
            ))
          }
        </div>
      </div>
    </div>

    <div class="relative h-full w-full flex flex-col justify-around" lg="flex-[0_1_60%] pr-4">
      <!-- Overlay -->
      <div class="absolute inset-0 z-0 bg-black opacity-50" lg="hidden"></div>
      <div class="h-auto">
        {/* Do not remove this div */}
      </div>
      <div class="z-1 flex flex-col items-center">
        <h1
          class="w-auto flex flex-col items-start text-center text-3.5rem text-white font-bold font-title"
          sm="text-7xl"
          md="text-8xl"
          xl="text-9xl"
        >
          <span class="mb-1 block text-50% line-height-95%">Lobo</span>
          <span class="group/glitch1 block line-height-80%">
            <span
              class="group-hover/glitch1:after:text-secondary group-hover/glitch1:before:text-accent glitch1-glitch-hover"
              data-glitch-text="Hackathon"
            >
              <span class="glitch1-glitch-text-hover"> Hackathon </span>
            </span>
          </span>
          <span class="block self-end text-50% line-height-70% font-archivo-black -mt-1" md="-mt-2">
            BUAP 2024
          </span>
        </h1>
      </div>
      <div
        class="z-1 flex flex-wrap items-center justify-center gap-x-8 px-4 text-center text-xl"
        sm="text-2xl gap-y-2"
        xl="text-3xl"
      >
        <p>
          <span class="text-150% font-black">
            18
            <span> - </span>
            20
          </span>
          de Abril
        </p>
        <a href="https://maps.app.goo.gl/FyaovW1E2CpQFcPT7" class="block flex items-center gap-x-1">
          <svg
            class="hw-8 md:hw-10"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.1209 10.3099C15.1209 12.0299 13.7309 13.4299 12.0009 13.4299C10.2709 13.4299 8.88086 12.0399 8.88086 10.3099C8.88086 8.57994 10.2809 7.18994 12.0009 7.18994C12.3409 7.18994 12.6709 7.23994 12.9709 7.33994"
              stroke="currentColor"
              stroke-width="0.125rem"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M5.98094 4.30006C10.3509 0.190061 18.8209 1.60006 20.3809 8.51006C21.5309 13.5901 18.3709 17.8901 15.6009 20.5501C13.5909 22.4901 10.4109 22.4901 8.39094 20.5501C5.63094 17.8801 2.46094 13.5801 3.62094 8.50006"
              stroke="currentColor"
              stroke-width="0.125rem"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <span> Centro de convenciones BUAP </span>
        </a>
      </div>
    </div>
  </div>
</div>
