---
interface Props {
  classList?: string | string[]
  playbackRate?: number
}

const { classList = 'absolute', playbackRate = 1 } = Astro.props

const classes = Array.isArray(classList) ? classList : [classList]

const videoElementId = 'bg-glitch-video'
---

<div class:list={['h-50vh max-w-none min-w-full w-auto overflow-hidden -z-1', ...classes]} sm="h-100vh">
  <video id={videoElementId} autoplay loop muted class="absolute h-full min-w-full object-cover">
    <source src="/glitch-background.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <!-- Video overlay -->
  <!-- Purple color overlay -->
  <div class="absolute h-full w-full bg-purple-8/70 mix-blend-color"></div>
  <!-- Overlay -->
  <div class="absolute h-full w-full bg-black/45"></div>

  <!-- Content -->
  <slot />
</div>

<script define:vars={{ videoElementId, playbackRate }}>
  // Reduce the video speed
  const video = document.getElementById(videoElementId)

  if (video) {
    video.defaultPlaybackRate = playbackRate
    video.playbackRate = playbackRate
  }
</script>
