---
export const navbarItems = [
  {
    title: 'Ponentes',
    href: '#ponentes',
  },
  {
    title: 'Nuestros aliados',
    href: '#aliados',
  },
  {
    title: 'Agenda',
    href: '#agenda',
  },
  {
    title: 'Patrocinadores',
    href: '#patrocinadores',
  },
]
---

<Fragment>
  <nav class="relative z-2 hidden bg-none p-4" sm="block">
    <div class="mx-auto px-2">
      <div class="h-10 w-full flex flex-1 items-center justify-between">
        <div class="flex flex-shrink-0 items-center">
          <a href="/" class="text-2xl text-white font-black">BUAP</a>
        </div>
        <div class="ml-6 block justify-self-end">
          <div class="flex space-x-4">
            <!-- Navigation items -->
            <ul class="flex space-x-4">
              {
                navbarItems.map((item) => (
                  <li>
                    <a
                      href={item.href}
                      class="rounded-md px-3 py-2 text-sm text-gray-300 font-medium"
                      hover="bg-gray-700 text-white"
                    >
                      {item.title}
                    </a>
                  </li>
                ))
              }
              <!-- Register button -->
              <li>
                <a
                  href="/registro"
                  class="rounded-lg bg-white px-6 py-2 text-sm text-gray-700 font-bold"
                  hover="bg-gray-700 text-white"
                >
                  Registro
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</Fragment>
