---
export const navbarItems = [
  {
    title: 'Ponentes',
    href: '#ponentes',
  },
  {
    title: 'Nuestros aliados',
    href: '#aliados',
  },
  {
    title: 'Agenda',
    href: '#agenda',
  },
  {
    title: 'Patrocinadores',
    href: '#patrocinadores',
  },
]
---

<Fragment>
  <nav class="relative z-2 hidden bg-none p-4" sm="block">
    <div class="mx-auto px-2">
      <div class="h-10 w-full flex flex-1 items-center justify-between">
        <div class="flex flex-shrink-0 items-center">
          <a href="/" class="text-2xl text-white font-black">BUAP</a>
        </div>
        <div class="ml-6 justify-self-end">
          <!-- Navigation items -->
          <ul class="flex space-x-4">
            {
              navbarItems.map((item) => (
                <li>
                  <a
                    href={item.href}
                    class="rounded-md px-3 py-2 text-sm text-gray-300 font-medium"
                    hover="bg-gray-700 text-white"
                  >
                    {item.title}
                  </a>
                </li>
              ))
            }
            <!-- Register button -->
            <li>
              <a
                href="/registro"
                class="group/glitch1 glitch1-container rounded-lg bg-transparent px-6 py-2 text-sm text-gray-200 font-bold"
                ring="2 white"
                hover="bg-transparent text-white"
              >
                <span class="glitch1-glitch-hover" data-glitch-text="Registro">
                  <span class="glitch1-glitch-text-hover"> Registro </span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</Fragment>
