---
import LoboImage from '@assets/lobo_personaje.png'
import BgGlitch from '@components/main/BgGlitch.astro'
import MainLayout from '@layouts/Main.astro'
import { AstroFont } from 'astro-font'
import { Image, getImage } from 'astro:assets'
import { mainPageFonts } from '@/config/fonts'

const loboImageOptimized = await getImage({ src: LoboImage })
---

<MainLayout title="" description="Main page" class="bg-gray-8">
  <!-- head/meta elements -->
  <Fragment slot="head-meta">
    <!-- Fonts -->
    <AstroFont config={mainPageFonts} />
  </Fragment>

  <!-- Main content -->
  <BgGlitch class="absolute top-0" playbackRate={0.66} />
  {/* TODO: portrait and landscape responsive design */}
  <!-- Landing cover -->
  <div
    class:list={[
      // Default
      'relative w-full items-center h-50vh',
      // sm
      'md:(flex h-screen justify-center -mt-20)',
      // lg
      'lg:(flex justify-right)',
    ]}
  >
    <div class:list={['h-full w-full', 'absolute', 'lg:(h-screen relative mt-10 flex-[0_1_40%])']}>
      <Image
        src={LoboImage}
        alt="Personaje Lobo Hackathon BUAP"
        loading="eager"
        class:list={[
          'relative w-auto h-full opacity-65 mix-blend-difference -scale-x-100',
          'object-contain',
          'lg:(-left-20% object-cover overflow-visible)',
        ]}
      />
      <div class="glitch__layers h-auto w-240 -scale-x-100">
        <div class="glitch__layer"></div>
        <div class="glitch__layer"></div>
        <div class="glitch__layer"></div>
      </div>
    </div>

    <div class:list={['h-full w-full', 'relative flex flex-col justify-center', 'lg:flex-[0_1_60%]']}>
      <!-- Overlay -->
      <div class="absolute inset-0 z-0 bg-black opacity-50 lg:hidden"></div>
      <div z-1>
        <h1 class="text-center text-4xl text-white font-bold lg:text-7xl md:text-6xl sm:text-5xl xl:text-8xl">
          Lobo Hackathon BUAP
        </h1>
        <p class="text-center text-lg text-white lg:text-3xl md:text-2xl sm:text-xl xl:text-4xl">2024</p>
      </div>
    </div>
  </div>
</MainLayout>

<style define:vars={{ loboSrc: `url("${loboImageOptimized.src}")` }}>
  .glitch__layers {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .glitch__layer {
    object-fit: contain;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: var(--loboSrc);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 65%;
  }
  .glitch__layer:nth-child(1) {
    transform: translateX(-5%);
    animation: glitch-anim-1 1.5s infinite linear alternate;
  }
  .glitch__layer:nth-child(2) {
    transform: translateX(3%) translateY(3%);
    animation: glitch-anim-2 1.7s -0.8s infinite linear alternate;
  }
  .glitch__layer:nth-child(3) {
    transform: translateX(5%);
    animation: glitch-anim-flash 750ms infinite linear;
  }
  @keyframes glitch-anim-1 {
    0% {
      clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
    }
    10% {
      clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }
    20% {
      clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }
    30% {
      clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    }
    40% {
      clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
    }
    50% {
      clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
    }
    60% {
      clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
    }
    70% {
      clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
    80% {
      clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    90% {
      clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
    100% {
      clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
    }
  }
  @keyframes glitch-anim-2 {
    0% {
      clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
    }
    15% {
      clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    }
    25% {
      clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
    }
    30% {
      clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    45% {
      clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
    }
    50% {
      clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
    }
    65% {
      clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    75% {
      clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    80% {
      clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
    }
    95% {
      clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
    }
    100% {
      clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%);
    }
  }
  @keyframes glitch-anim-flash {
    0% {
      opacity: 0.2;
    }
    30%,
    100% {
      opacity: 0;
    }
  }
</style>
