---
import FAQs from '@components/landing/FAQs/FAQs'
import Info from '@/components/landing/Info/Info.jsx'
import Schedule from '@/components/landing/Schedule/Schedule.jsx'
import { mainPageFonts } from '@/config/fonts'
import { type Speaker } from '@/schemas/speaker.schema'
import LandingCover from '@components/landing/LandingCover.astro'
import Speakers from '@components/landing/Speakers.astro'
import MainLayout from '@layouts/Main.astro'
import { AstroFont } from 'astro-font'
import { getImage } from 'astro:assets'
import { getCollection } from 'astro:content'
import Sponsors from '@components/landing/sponsors/Sponsors.astro'
import Communities from '@components/landing/communities/Communities.astro'
import { Benefits } from '@/components/landing/benefits/Benefits'
import { HowTo } from '@/components/landing/HowTo/HowTo'

// Get speakers data
const speakersCollection = await getCollection('speakers')
const speakersInfo = await Promise.all<Speaker>(
  speakersCollection.map(async (speaker) => {
    return {
      ...speaker.data,
      imageUrl: (await getImage({ src: speaker.data.image })).src,
    }
  })
)
---

<MainLayout
  title=""
  description="Main page"
  class="h-screen max-h-screen w-full snap-y snap-mandatory overflow-y-auto scroll-smooth"
  footer-class="snap-start"
>
  <!-- head/meta elements -->
  <Fragment slot="head-meta">
    <!-- Fonts -->
    <AstroFont config={mainPageFonts} />
  </Fragment>

  <!-- Main content -->
  <section class="snap-start">
    <LandingCover />
  </section>
  <!-- More sections -->
  <div class="px-2" sm="px-4" md="px-12" xl="px-15%">
    <section
      id="info"
      class="h-full min-h-screen w-full flex snap-start items-center justify-center pb-20"
    >
      <!-- Info -->
      <Info />
    </section>
    <section
      id="info"
      class="h-full min-h-screen w-full flex snap-start content-center items-center justify-center pb-20"
    >
      <!-- Info -->
      <Benefits />
    </section>
    <section id="participar" class="h-full w-full snap-start py-10">
      <!-- Sponsors section -->
      <HowTo />
    </section>
    <section
      id="aliados"
      class="h-full min-h-screen w-full flex snap-start items-center overflow-y-auto"
    >
      <!-- Sponsors section -->
      <Communities />
    </section>
    <section id="invitados" class="mt-10 h-screen min-h-screen w-full snap-start pb-20" sm="pb-10">
      <!-- Speakers -->
      <Speakers speakersInfo={speakersInfo} />
    </section>
    <!-- Aliados section -->
    <!-- ... -->
    <section
      id="patrocinadores"
      class="h-full min-h-screen w-full flex snap-start items-center overflow-y-auto"
    >
      <!-- Sponsors section -->
      <Sponsors />
    </section>
    <section id="agenda" class="h-full min-h-screen w-full snap-start overflow-y-auto pb-20">
      <!-- Schedule section -->
      <Schedule client:idle />
    </section>
    <section>
      <!-- FAQs section -->
      <FAQs />
    </section>
  </div>
</MainLayout>
