---
import type { ClassyComponentProps } from '@/types/astro.types'

interface Props extends ClassyComponentProps {}

const { class: cssClass, 'class:list': cssClassList } = Astro.props
---

<div class:list={[cssClass, cssClassList]}>Footer</div>
