---
export const navbarItems = [
  {
    title: 'Ponentes',
    href: '#ponentes',
  },
  {
    title: 'Nuestros aliados',
    href: '#aliados',
  },
  {
    title: 'Agenda',
    href: '#agenda',
  },
  {
    title: 'Patrocinadores',
    href: '#patrocinadores',
  },
]
---

<Fragment>
  <nav class="relative z-2 hidden bg-none p-4" sm="block">
    <div class="mx-auto px-2">
      <div class="h-10 w-full flex flex-1 items-center justify-between">
        <div class="flex flex-shrink-0 items-center">
          <a href="/" class="group/glitch1 text-2xl text-primary font-black tracking-wider">
            <span class="glitch1-glitch-hover" data-glitch-text="BUAP">
              <span class="glitch1-glitch-text-hover"> BUAP </span>
            </span>
          </a>
        </div>
        <div class="ml-6 justify-self-end">
          <!-- Navigation items -->
          <ul class="flex items-center space-x-4">
            {
              navbarItems.map((item) => (
                <li class="group">
                  <a
                    href={item.href}
                    class="rounded-md px-3 py-2 text-sm text-primary-600 font-medium"
                    hover="bg-base-700/65 text-primary rounded-none"
                  >
                    <span>
                      {item.title}
                      <span class="invisible group-hover:animate-blink">_</span>
                    </span>
                  </a>
                </li>
              ))
            }
            <!-- Register button -->
            <li>
              <a
                href="/registro"
                class:list={[
                  'relative',
                  'inline-block',
                  'text-center',
                  'tracking-[0.3em]',
                  'text-sm',
                  'font-bold',
                  'mx-auto',
                  'uppercase',
                  'px-6',
                  'py-2',
                  'border-2',
                  'border-solid',
                  'border-primary',
                  'text-primary',
                  'hover:(btn-glitch1 text-black)',
                  'focus:(btn-glitch1 text-black)',
                ]}
                data-glitch-text="Registro"
              >
                Registro
              </a>
              <!-- <a
                href="/registro"
                class:list={[
                  'relative',
                  'inline-block',
                  'text-center',
                  'tracking-[0.3em]',
                  'text-sm',
                  'font-bold',
                  'mx-auto',
                  'uppercase',
                  'px-6',
                  'py-2',
                  'border-2',
                  'border-solid',
                  'border-white',
                  'text-white',
                  'rounded-full',
                  'hover:(btn-glitch2 before:-scale-y-100 before:animation-duration-2s text-black)',
                  'focus:(btn-glitch2)',
                ]}
                data-glitch-text="Registro"
              >
                Registro
              </a> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</Fragment>
