---
import NavMobileMenu from './NavMobileMenu.vue'

const { pathname } = Astro.url

export const navbarItems = [
  {
    title: 'Invitados',
    href: '/#invitados',
  },
  {
    title: 'Nuestros aliados',
    href: '/#aliados',
  },
  {
    title: 'Agenda',
    href: '/#agenda',
  },
  {
    title: 'Patrocinadores',
    href: '/#patrocinadores',
  },
]
---

<Fragment>
  <nav class="relative z-2 bg-none p-4">
    <!-- Desktop navbar -->
    <div class="hidden h-10 w-full px-2" lg="flex flex-1 items-center justify-between">
      <a href="/" class="mr-auto">
        <div class="i-solar:home-2-broken hw-6"></div>
      </a>
      <!-- Navigation items -->
      <ul class="flex items-center space-x-4">
        {
          navbarItems.map((item) => (
            <li class="group">
              <a
                href={item.href}
                class="rounded-md px-3 py-2 text-sm text-primary-600 font-medium"
                hover="bg-base-700/65 text-primary rounded-none"
              >
                <span uppercase>
                  {item.title}
                  <span class="invisible group-hover:animate-blink">_</span>
                </span>
              </a>
            </li>
          ))
        }
        <!-- Register button -->
        {
          pathname !== '/pre-registro' && (
            <li>
              <a
                href="/pre-registro"
                class:list={[
                  'relative',
                  'inline-block',
                  'text-center',
                  'tracking-[0.3em]',
                  'text-sm',
                  'font-bold',
                  'mx-auto',
                  'uppercase',
                  'px-6',
                  'py-2',
                  'border-2',
                  'border-solid',
                  'border-primary',
                  'text-primary',
                ]}
                hover="btn-glitch1 before:text-secondary text-base before:-scale-y-100"
                focus="btn-glitch1 text-base before:-scale-y-100"
                data-glitch-text="Pre-registro"
              >
                Pre-registro
              </a>
            </li>
          )
        }
        <!-- <a
                href="/registro"
                class:list={[
                  'relative',
                  'inline-block',
                  'text-center',
                  'tracking-[0.3em]',
                  'text-sm',
                  'font-bold',
                  'mx-auto',
                  'uppercase',
                  'px-6',
                  'py-2',
                  'border-2',
                  'border-solid',
                  'border-white',
                  'text-white',
                  'rounded-full',
                  'hover:(btn-glitch2 before:-scale-y-100 before:animation-duration-2s text-black)',
                  'focus:(btn-glitch2)',
                ]}
                data-glitch-text="Registro"
              >
                Registro
              </a> -->
      </ul>
      <!-- </div> -->
    </div>
    <!-- Mobile navbar -->
    <div class="h-10 w-full flex items-center justify-between" lg="hidden">
      <a href="/">
        <div class="i-solar:home-2-broken hw-6"></div>
      </a>
      <NavMobileMenu client:visible>
        <ul class="w-full flex flex-col items-center divide-y-2 divide-primary">
          {
            navbarItems.map((item) => (
              <li class="group w-full py-2" hover="bg-base-700/65 text-primary rounded-none">
                <a
                  href={item.href}
                  class="w-full flex justify-center rounded-md py-2 text-sm text-primary-600 font-medium"
                >
                  <span uppercase>
                    {item.title}
                    <span class="invisible group-hover:animate-blink">_</span>
                  </span>
                </a>
              </li>
            ))
          }
          <!-- Register button -->
          {
            pathname !== '/pre-registro' && (
              <li w-full>
                <a
                  href="/pre-registro"
                  class:list={[
                    'relative',
                    'text-center',
                    'tracking-3',
                    'text-4',
                    'font-bold',
                    'uppercase',
                    'py-6',
                    'text-primary',
                    'flex',
                    'justify-center',
                  ]}
                  hover="btn-glitch1 before:text-secondary text-base before:-scale-y-100"
                  focus="btn-glitch1 text-base before:-scale-y-100"
                  data-glitch-text="Pre-registro"
                >
                  Pre-registro
                </a>
              </li>
            )
          }
        </ul>
      </NavMobileMenu>
    </div>
  </nav>
</Fragment>
