:root {
  --main-general-color: #6c61dd;
  --main-bg-color: #202020;
  --secundary-bg-color: #35363a;
  --main-font-color: #ffffff;
  --secundary-font-color: #acacac;
}

.section__rewards {
}

.section__rewards-container {
}

.section__rewards-title {
  margin-bottom: 24px;
}

.section__rewards-description {
  font-size: 24px;
  color: var(--main-font-color);
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.section__rewards-container--grid {
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.section__rewards-reward-box {
  width: 100%;
  height: 100%;
  /* background-color: var(--secundary-bg-color); */
  border-radius: 16px;
  padding: 24px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 300px auto ;
  grid-template-columns: 1fr;
  max-height: 500px;
}

.section__rewards-reward-box-title {
  font-size: 18px;
  color: var(--secundary-font-color);
  font-weight: 600;
  line-height: 1.8;
  text-align: center;
}

/* .section__rewards-reward-box:nth-child(1) {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
} */

/* .section__rewards-reward-box:nth-child(1) .section__rewards-reward-box-title {
  font-size: 25px;
  color: var(--secundary-font-color);
  font-weight: 600;
  line-height: 1.8;
} */

/* .section__rewards-reward-box:nth-child(1) .section__rewards-reward-image {
  width: 100%;
} */

.section__rewards-reward-image {
  object-fit: cover;
  justify-self: center;
  max-height: 300px;
  filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, 0.6));
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {

    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}