---
import { type MetaHeadProps } from '@/types/layouts.types'
import MetaHead from '@components/common/MetaHead.astro'
import Footer from '@components/main/Footer.astro'
import Navbar from '@components/main/Navbar.astro'
import type { ClassyComponentProps } from '@/types/astro.types'

interface Props extends MetaHeadProps, ClassyComponentProps {}

const { title, description, ogImage, class: cssClass, 'class:list': cssClassList } = Astro.props
---

<!doctype html>
<html lang="es" class="h-full">
  <!-- <Meta -->
  <MetaHead title={title} description={description} ogImage={ogImage}>
    <slot name="head-meta" />
  </MetaHead>

  <body class:list={['h-full', cssClass, cssClassList]}>
    <header>
      <Navbar />
    </header>
    <!-- Content -->
    <slot />
    <Footer />
  </body>
</html>
