---
import Footer from '@/components/common/Footer.astro'
import Navbar from '@/components/common/Navbar.astro'
import type { ClassyComponentProps } from '@/types/astro.types'
import { type MetaHeadProps } from '@/types/layouts.types'
import MetaHead from '@components/common/MetaHead.astro'
import type { AstroBuiltinAttributes } from 'astro'
import { AstroFont } from 'astro-font'
import { commonFonts } from '@/config/fonts'

interface Props extends MetaHeadProps, ClassyComponentProps {
  'body-class'?: string
  'body-class:list'?: AstroBuiltinAttributes['class:list']
  'nav-class'?: string
  'nav-class:list'?: AstroBuiltinAttributes['class:list']
  'footer-class'?: string
  'footer-class:list'?: AstroBuiltinAttributes['class:list']
}

const {
  title,
  description,
  ogImage,
  class: mainClass,
  'class:list': mainClassList,
  'body-class': bodyClass,
  'body-class:list': bodyClassList,
  'nav-class': navClass,
  'nav-class:list': navClassList,
  'footer-class': footerClass,
  'footer-class:list': footerClassList,
} = Astro.props
---

<!doctype html>
<html lang="es" class="h-full">
  <!-- <Meta -->
  <MetaHead title={title} description={description} ogImage={ogImage}>
    <slot name="head-meta">
      <!-- Default Fonts -->
      <AstroFont config={commonFonts} />
    </slot>
  </MetaHead>

  <body class:list={['bg-base text-primary font-main', bodyClass, bodyClassList]}>
    <main class:list={[mainClass, mainClassList]}>
      <header>
        <Navbar class:list={[navClass, navClassList]} />
      </header>
      <!-- Content -->
      <slot />
      <Footer class:list={[footerClass, footerClassList]} />
    </main>
  </body>
</html>
