---
import Footer from '@/components/common/Footer.astro'
import Navbar from '@/components/common/Navbar.astro'
import type { ClassyComponentProps } from '@/types/astro.types'
import { type MetaHeadProps } from '@/types/layouts.types'
import MetaHead from '@components/common/MetaHead.astro'

interface Props extends MetaHeadProps, ClassyComponentProps {}

const { title, description, ogImage, class: cssClass, 'class:list': cssClassList } = Astro.props
---

<!doctype html>
<html lang="es" class="h-full">
  <!-- <Meta -->
  <MetaHead title={title} description={description} ogImage={ogImage}>
    <slot name="head-meta" />
  </MetaHead>

  <body class:list={['bg-base text-primary font-anta', cssClass, cssClassList]}>
    <main
      class="h-screen max-h-screen w-full snap-y snap-mandatory overflow-y-scroll scroll-smooth"
    >
      <header>
        <Navbar />
      </header>
      <!-- Content -->
      <slot />
      <Footer class="snap-start" />
    </main>
  </body>
</html>
